body {
    background-color: rgba(38, 15, 89, 0.982);
    margin: 0;
    padding: 10px;
    color: rgb(72, 1, 1);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.62);
}

.face{
    background-color: rgb(159, 241, 108);
    background-image: url('images/aboutbg2.png'); /* Path to your image */
    background-attachment: fixed;
    background-size: cover; /* Make the image cover the entire background */
    background-position: center center; /* Center the image */
    display:flex;
    flex-direction: column;
    justify-content: center;
}

header {
    font-family: "Chela One";
    padding: 40px;
    text-align: left;
}

h1 {
    font-size: 70px;
}

.me_family {
    margin: 40px;
    text-align: left;
    font-size: 18px;
    display: flex;
    justify-content: center;
    /* background-color: rgb(88, 90, 85); */
}

.me_family_d {
    display: flex;
    flex-direction: column;

    gap: 20px;
    inline-size: 30%;
}

.me_family_h {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

.img {
    /* background-color: rgb(39, 110, 182); */
    inline-size: 50%;
    display:flex;
    justify-content: center;
}

img {
    margin-left: 80px;
    inline-size: 320px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.62);
}

.me_family_d dt {
    position: relative;
    display: inline-block;
    padding: 10px;
    background-color: #fbb51d;
    border: 1px solid #e45b29;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.62);
    cursor: pointer;
}
.me_family_d dt:hover {
    background-color: #dc002c;
    border: 1px solid #922700;
    color: black;
}

.me_family_d dd {
    visibility: hidden;
    width: 110%;
    background-color: #000000;
    color: #ffff97;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 40%; /* Position above the hover item */
    left: 125%;
    margin-left: 15%; /* Center the tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.me_family_d dd::after {
    content: "";
    position: absolute;
    top: 0%; 
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #000000 transparent transparent transparent;
} 

.me_family_d dt:hover + dd {
    visibility: visible;
    opacity: 1;
    box-shadow: 8px 8px 8px rgba(223, 223, 219, 0.62);
}

/*  */

.me_skills {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    display:flex;
    justify-content: center;
    margin: 40px;
    background-color: #02afaf55;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.322);
}

.two {
    font-size: 20px;
}

.sub_sk {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}
